.big_wrapper {

  background: black;
}
.big_wrapper .wrapper {
  padding: 35px 0;
}

.point_copy {
  width: 440px;
  h3 {
    margin: 20px 0 30px 0;
  }
}

h4{
padding:5%;
background: url(image_path("transparent3.png")) repeat; 
line-height:1.3;
}

h3 {
  font-size: 42px;
  font-family: $primary_font, $secondary_font, $tertiary_font;
  color: #292929;
  line-height: 1.3;
}

.point_copy p, #other_points li p {
    line-height: 1.5;
}

#one {
  background: url(image_path("1-background.png")) no-repeat bottom right;
  height: 646px;
  width: 936px;
  background-color:black;
}

#two {
  background: url(image_path("gang.jpg")) no-repeat bottom left;
  height: 667px;
}

#three {
  background: url(image_path("night.jpg")) no-repeat bottom left;
  height: 750px;
}

#four {
  background: url(image_path("stealing.jpg")) no-repeat bottom left;
  height: 730px;
}

#five {
  background: url(image_path("sadqueen.jpg")) no-repeat bottom left;
  height: 730px;
}
#six {
  background: url(image_path("coatatstore.jpg")) no-repeat bottom left;
  height: 730px;
}
#seven {
  background: url(image_path("seeing.jpg")) no-repeat bottom left;
  height: 730px;
}

#eight {
  background: url(image_path("last.jpg")) no-repeat bottom left;
  height: 730px;
}


.right {
  margin-left: 500px;
}
