<div class="gray_background" id="faqs">
  <div class="wrapper clearfix">
    <h2>Frequently Asked Questions</h2>
    <ul>
      <li class=''>
        <details class=''>
          <summary class=''>What's this about?</summary>
          <p> I like to think of random things and draw pictures, and I need to make money for paying back university debt.
 I thought this process didn't have to be depressing or boring. 
 So I decided to make a story. I got by with little help from my friends to come up with it! Help us and help the Queen!</p>
 
          <br />
          <br />
      </details>
      </li>
      <li>
        <details class=''>
          <summary>Who are you?</summary>
          <p>  My name is Eunsoo Ahn. I go to University of Waterloo in Canada, and major in Economics. 
		  I tried to transfer to Chicago institute of art, then a year later to Pratt institute, but I couldn’t afford their tuition! 
		  It’s taking me forever to graduate because I keep taking time off school to do other things that seem interesting, like working and making art. 
		  After undergrad, I am thinking about going into animation or architecture and one day running my own studio./p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>Why don't you just get a job or come up with more “legit” tangible products?</summary>
          <p>I’ve had every and any job you can name since I was young. But my passion is also in experimenting with technology and artistic pursuits.
I met people who were resorting to drastic, unhealthy means to pay for school and it really made an impression on me. But I’ve also met people who had great imagination and creative talent. This made me want to experiment on more effective ways to raise money for school using your creative talent. </p>
        </details>
      </li>
      <li>
        <details class=''>
          <summary>How does it work?</summary>
          <p>You are joining to help the queen, and when we reach the goal, you will see the queen receiving her jacket, right here on this page!   You will be notified through email. While we go through this, you can follow at twitter to see our daily updates to see whats going on in the bee's land.  </p>
        </details>
      </li>
    </ul>
    <ul class='col2'>
      <li>
        <details class=''>
          <summary>Why a dollar as default payment?</summary>
          <p>I wanted to make this something everyone can be involved, no matter who you are. 
</p>
        </details>
      </li>
   
     <li>
        <details class=''>
          <summary>Credits and Thanks</summary>
          <p>Photography : Blessie Maturan <br>
Story: Sheryl Lee <br>
Edit: Christine Nanteza <br>

</p>
        </details>
      </li>
 
Any comments and questions welcome!<br><br>
queensstolensecret@gmail.com

  
    </ul>
  </div>
</div>
