<div class="big_wrapper">
  <div class="wrapper" id="one">
    <div class="point_copy">
      <h4>

    Something horrible has happened in the small, peaceful town of honeybees!!!           </h4>
     
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="two">
    <div class="point_copy right">
      <h4>

  
      The thugs from the neighboring Dark Armageddon Wasp gang, jealous of the bee queen’s fabulous fur jacket, has stolen it! 
      </h4>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="three">
    <div class="point_copy">
      <h4>
    </h4>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="four">
    <div class="point_copy right">
      <h4>
   
      </h4>
      <p>
            <p>
    </div>
  </div>
</div>



<div class="big_wrapper">
  <div class="wrapper" id="five">
    <div class="point_copy right">
      <h4 style="margin-top:350px;">
  Without my fur jacket now I just look like a common ant! Now the secret of my beauty is gone!” The Queen is devastated. She won’t even step out of her room.       </h4>

    </h4>
    </div>
  </div>
</div>


<div class="big_wrapper">
  <div class="wrapper" id="seven">
    <div class="point_copy right">
      <h4 >
           </h4>
    </div>
  </div>
</div>

<div class="big_wrapper">
  <div class="wrapper" id="sevenhalf">
    <div class="point_copy right">
      <h4 style="margin-left:-70%;width:800px;">
   
      The bees, unable to bear the queen’s sadness, are coming together to get a new fur jacket from the shop and we need your help!             </h4>
    </div>
  </div>
</div>


<div class="big_wrapper">
  <div class="wrapper" id="eight">
    <div class="point_copy right">
      <h4>
     
   
 
     Let's all come together so we can collect honey for a new fur jacket!!
    </h4>
    </div>
  </div>
</div>